.title {
    font-size: calc(1rem + 3vmin);
    font-weight: bold;
    margin-bottom: 30px;
}


.create-form,
.edit-form {
    .character {
        width: rem(200);
        background-color: $white;
        border-radius: 4px;
        padding-bottom: 1px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);


        .character-image {
            border-bottom: 1px solid rgba($black, 0.15);
            height: 16.5rem;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }

    .form-fields-container {
        margin-left: 5rem;
    }

    .form-field-container {
        margin-bottom: 8px;
    }

    input.create {
        height: auto;
        width: auto;
        background-color: whitesmoke;
        display: inline-block;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 3px solid rgb(12, 36, 97);
        /* resize: none; */
        margin: 0;
        padding: 8px;
    }

    input.create::placeholder {
        font-style: italic;

    }

    input.create:hover {
        border: solid 3px #38ada9;
        background-color: white;
    }

    input.delete {
          height: auto;
        width: 100%;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        background-color:red;
        display: inline-block;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 3px solid red;
        margin: 8px;
        padding: 8px;
        border-radius: 1rem;
        color: white;
    }
        .delete:hover {
        cursor: pointer;
        border: solid 3px red;
        font-weight: bold;
    }


    input.submit {
        height: auto;
        width: 100%;
        background-color: white;
        display: inline-block;
        border-radius: 5px;
        background-color: #00c851;
        display: inline-block;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 3px solid rgb(47, 255, 64);
        margin: 8px;
        padding: 8px;
        border-radius: 1rem;
        color: white;

    }

    .submit:hover {
        cursor: pointer;
        border: solid 3px rgb(47, 255, 64);
        font-weight: bold;

    }

    textarea.create {
        height: auto;
        width: auto;
        background-color: whitesmoke;
        display: inline-block;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 3px solid rgb(12, 36, 97);
        resize: none;
        margin: 0;
        padding: 8px;
    }

    textarea::placeholder {
        font-style: italic;
    }

    textarea:hover {
        border: solid 3px #38ada9;
        background-color: white;
    }

    .cool-container {
        position: relative;
        display: block;
        text-align: center;
        cursor: pointer;
        height: auto;
        background-color: #4285f4;
        outline: 0;
        border-radius: 1rem;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        border: 3px solid #38ada9;
        margin: 8px;
        padding: 8px;
        color: white;


        input.cool {
            display: none;
        }
    }

    .cool-container:hover {
        border: 3px solid #38ada9;
        font-weight: bold;

    }
}

 