.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .header {
        padding: 1rem 0;
        background-color: $main-theme-color;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        height: rem(62);

        .header-title {
            color: $white;
            font-size: 1.5rem;
            text-shadow: 1px 1px #2c3e50;
            float: $left;
        }

        .add-character-button-container {
            float: $right;

            .add-character-button {
                color: $white;
                background-color: $add-button-background-color;
                font-size: 1rem;
                text-align: center;
                text-shadow: 1px 1px #2c3e50;
                padding: 0.35rem 0.75rem;
                border-radius: $main-buttons-radius;
                cursor: pointer;
                transition-property: color, background-color;
                transition-duration: 0.35s;
                transition-timing-function: ease-in-out;

                &:hover {
                    background-color: darken($add-button-background-color, 10);
                }
            }
        }
    }
}